main {
  background-color: #ffffff;
  max-width: 1000px;
  margin: 15%;
  border-radius: 4px;
  margin-top: 3%;
  height: 800px;
}

main h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 47, 134);
  margin-top: 15%;
  margin-left: -10%;
}

main h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 47, 134);
  margin-top: 102px;
  margin-left: -15%;
}

main h3 {
  font-size: 50px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  margin-top: 102px;
  margin-left: -15%;
}

main p {
  font-size: 22px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 70);
  margin-top: 50px;
  margin-left: 5%;
  margin-bottom: 30%;
  text-align: left;
  max-width: 65ch;
}

main li {
  font-size: 19px;
  font-weight: 600;
  color: rgb(19, 17, 70);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-left: 20%;
  margin-bottom: 3%;
  text-align: start;
}

main img {
  aspect-ratio: 8/6;
  width: 400px;
  margin-left: -5%;
  margin-top: 0.5%;
}

@media (max-width: 600px) {
  main h1 {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 47, 134);
    margin-top: 55px;
    margin-left: -50%;
  }

  main h2 {
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 17, 70);
    margin-top: 10px;
    margin-left: -15%;
  }

  main h3 {
    font-size: 50px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 17, 70);
    margin-top: 102px;
    margin-left: 5%;
  }

  main p {
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 10%;
    text-align: left;
    font-weight: 500;
    max-width: 65ch;
    color: rgb(19, 17, 70);
  }

  main li {
    font-size: 14px;
    font-weight: 600;
    color: rgb(19, 17, 70);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 3%;
    text-align: left;
  }

  main img {
    aspect-ratio: 8/6;
    width: 200px;
    margin-left: -5%;
    margin-top: 4%;
  }
  main {
    background-color: #ffffff;
    margin: 5%;
    border-radius: 4px;
    margin-top: 10%;
  }

  .grid_2-1 {
    display: grid;
    gap: 2em;
    grid-template-columns: 2fr 1fr;
    grid-column: auto;
    margin-top: -1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }

  .grid_2-2 {
    display: grid;
    gap: 2em;
    grid-template-columns: 2fr 2fr;
    grid-column: auto;
    margin-top: -1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }

  .grid_1-2 {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 2fr;
    grid-column: auto;
    margin-top: -1em;
    margin-bottom: 1em;
    margin-right: 2em;
  }
}

@media (min-width: 601px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
